.cabecalho {
    display: flex;
    padding: auto;

}

.cabecalho_logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.cabecalho_lista{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.cabecalho_lista-item{
    margin-left: 10px;
    padding: 10px;
}